#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#centertext{
    color: tan;
    width:350px;
    float:center;
  position: relative; left: 100px; 
    padding:10px; 
}
